# SPDX-FileCopyrightText: © 2024 Stacey Adams <stacey.belle.rose@gmail.com>
# SPDX-License-Identifier: Unlicense

SPOTIPY_CLIENT_ID= # fill this in for your own Spotify app
SPOTIPY_CLIENT_SECRET= # fill this in for your own Spotify app
SPOTIPY_REDIRECT_URI=http://127.0.0.1:9090 # fill this in for your own Spotify app

# You can also override any of these values here
LCD_BACKLIGHT=1
IP_TIMEOUT=10
I2C_BUS=1
LCD_ADDRESS=0x27
LCD_WIDTH=16
LCD_ROWS=2
