# SPDX-FileCopyrightText: © 2024 Stacey Adams <stacey.belle.rose [AT] gmail [DOT] com>
# SPDX-License-Identifier: CC0-1.0
psutil==5.9.4
python-dotenv==0.21.0
requests==2.25.1
rpi_lcd==0.0.3
smbus==1.1.post2
spotipy==2.22.0
